body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: url('/static/image/homepage.jpg');    
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    margin-top: 300px;
}

input[type="submit"] {
    width: 150px; /* Set a fixed width for the buttons */
    padding: 10px; /* Optional: Add padding to the buttons */
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #007bff; /* Button color */
    border-radius: 5px;
}

.button:hover {
    background-color: #0056b3; /* Hover color */
}

