/* style.css */

/* Add your styles here */
body {
    background-image: url('/static/image/questions.jpg');    
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

#question-container {
}

.question-content {
    display: flex;
    align-items: center; /* Align items vertically */
}

.text-content {
}

.question-content img{
    width: 200px; /* Set the width of the image */
    height: auto; /* Maintain aspect ratio */
    background-repeat: no-repeat;
}
.question-task {
    margin-top: 50px; /* Adjust the margin as needed */
    font-size: 16px;
}
.question-text {
    font-size: 16px;
}
.choice-container {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.choice-container label {
    display: block;
    margin-bottom: 10px; /* Adjust the margin as needed */
}

#next-button {
    display: block;
    margin-top: 30px; /* Adjust the margin as needed */
}

