{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'question/normal.css' %}">
    <title>Log In Success</title>
</head>
<body>
    <h2>登陆成功</h2>
    <p>姓名 {{ user_profile.user.username }}</p>
    <p>User ID: {{ user_profile.user_id }}</p>
    <p>生日: {{ user_profile.birth_date }}</p>
    <p>月龄: {{ user_month }}</p>

    <form method="get" action="{% url 'questionnaire:group_questions' user_id=user_profile.user.id %}">
        <button type="submit">开始做题</button>
    </form>
</body>
</html>
