{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'question/login.css' %}">
</head>
<body>
    <form method="post">
        {% csrf_token %}
        {{ form.userid.label_tag }}
        {{ form.userid }}
        <br>
        {{ form.password.label_tag }}
        {{ form.password }}
        <br>
        <input type="submit" value="Log In">
    </form>
</body>
</html>

