{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Next Question</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> <!-- include jQuery -->
</head>
<body>
    <div id="question-container">
        <!-- Question and choices will be dynamically loaded here -->
    </div>

    <button id="next-button">下一题</button>

    <script>
        const op_questions = {{ questions|safe }};
        const op_type = {{ operation_type|safe }};
        const op_answer_time = {{ op_answer_time|safe }};
        let currentIndex = 0;
        let currentType = 1;

        function displayQuestion() {
            const question = op_questions[currentType-1][currentIndex]
            const choices = question.choices;
            const pictureUrl = op_questions[currentType-1][currentIndex].picture;
            let choicesHTML = '';

            for (let ch_index = 0; ch_index < choices.length; ch_index++) {
                choicesHTML += `
                <label>
                    <input type="radio" name="choice" value="${ch_index}">
                    ${choices[ch_index].choice_text}
                </label><br>
                `;
            }

            document.getElementById('question-container').innerHTML = `
                <h1>测试类型: ${question.type}</h1>
                <h2>体位: ${question.posture}</h2>
                <h2>刺激物: ${question.stimulus}</h2>
                <h2>项目: ${question.task}</h2>
                <img src="{% static '' %}${pictureUrl}" alt="Question Picture" style="width: 300px; height: auto;">
                <h2>${question.operation_id}. ${question.question_text}</h2>
                ${choicesHTML}
            `;
        }

        function showResults(points) {
            let resultHTML = '<h1> Thanks </h1>';
            let totalPoints = 0;

            for (let i = 0; i < points.length; i++) {
                resultHTML += `<h1>${points[i].type} ${points[i].point}</h1>`;
                totalPoints += points[i].point;
            }
            resultHTML += `<h1>总分: ${totalPoints}</h1>`;
            document.getElementById('question-container').innerHTML = resultHTML;

            // Hide the next-button
            document.getElementById('next-button').style.display = 'none';
        }

        document.getElementById('next-button').addEventListener('click', () => {
            const selectedChoice = document.querySelector('input[name="choice"]:checked');
            if (selectedChoice) {
                let totalIndex = op_questions[currentType-1].length
                const choiceId = selectedChoice.value;
                console.log('Selected Choice ID:', choiceId);
		    $.ajax({
                url: `next_question/?&totalIndex=${totalIndex}&_op_type=${currentType}&prevIndex=${currentIndex}&choice=${choiceId}&op_answer_time=${op_answer_time}`,
			type: 'GET',
			dataType: 'json',
			    success: function (data) { 
				    currentIndex = data.next_index;
				    currentType = data.next_type;
                    if (currentType < 6)
                        displayQuestion();
                    else
                        showResults(data.op_points);
				},
			    error: function (error) {
				    console.error('Error fetching next question:', error);
				}
			
	        	});
            } else {
                console.log('No choice selected');
            }
        });

        // Initial display of the first question
        displayQuestion();
    </script>
</body>
</html>

